body {
    padding: 0;
    margin: 0;
}

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/gears.gif');
    background-repeat: no-repeat;
    background-position: center;
}